/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 Jul 2024, 17:14:52
    Author     : Aplal
*/

/* checkout.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-page {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.section-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-body h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1em;
    margin-bottom: 10px;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    font-size: 1em;
    margin-bottom: 5px;
}

.card-body ul li strong {
    font-weight: bold;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}